<div class="container">
  <div class="admin-screen">
    <h1 class="title">新しい曲を追加</h1>

    <%= render "form", song: @song %>

    <div class="action-buttons">
      <%= link_to "戻る", admin_songs_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
